{% extends 'main/base.html' %}
{% load static %}



{% block body %}

    <h2>Каталог товаров</h2>


    <div class="flex_nav">
        <ul class="category_nav">
            <li><a href="{% url 'catalog' %}">Все категории</a></li>
            {% for c in category %}
            <li><a href="/catalog/{{ c.slug }}">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    </div>  

    <div class="flex_content">
        {% for p in product %}
            <div class="card">
                <img src="{{ p.photo.url }}" alt="Карточка товара" style="width:100%">
                <h1>{{ p.title }}</h1>
                <p class="card_content">{{ p.content }}</p>
                <p class="price">${{ p.price }}</p>
                <p><a href="{{ p.get_absolute_url }}"><button>Узнать больше</button></a></p>
            </div>
        {% endfor %}
    </div> 

{% endblock %}