{% extends 'main/base.html' %}

{% block body %}

<div class="post_title">
    <h1>{{ prod.title }}</h1>
</div>

<div class="post_container">

    <div class="post_image">
        <img src="{{ prod.photo.url }}">
    </div>

    <div class="post_content">
        <h4>Описание товара: </h4>
        <p>{{prod.content}}</p>
    </div>

    <div class="post_dop_content">
        <ul>
            <h4>Доп. описание товара: </h4>
            <li>Доп.1:</li>
            <li>Доп.1:</li>
            <li>Доп.1:</li>
        </ul>
    </div>
</div>

{% endblock %}
