{% extends 'main/base.html' %}

{% block body %}

<div class="post_title">
    <h1>{{ product.title }}</h1>
</div>

<div class="post_container">

    <div class="post_image">
        <img src="{{ product.photo.url }}">
    </div>

    <div class="post_content">
        <h4>Описание товара: </h4>
        <p>{{product.content}}</p>
    </div>

    <div class="post_dop_content">
        <ul>
            <h4>Доп. описание товара: </h4>
            <li>Доп.1:</li>
            <li>Доп.1:</li>
            <li>Доп.1:</li>
        </ul>
    </div>
    <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
    </form>
</div>

{% endblock %}
