{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap" rel="stylesheet">
    <script src="{% static 'main/js/javascripts.js' %}"></script>
    <title>{{ title }}</title>
</head>
<body>
    <div class="topnav">
        <ul class="left_nav">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'catalog' %}">Каталог</a></li>
        </ul>
        <a href="{% url 'home' %}"><img class="img_logo" src="{% static 'main/images/logo.png' %}" alt=""></a>
        <ul class="right_nav">
            <li><a href="#">Информация</a></li>
            <li><a href="{% url 'korzina' %}">Корзина</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        </ul>
    </div>
{% block body %}



{% endblock %}

    <div class="bottomnav">
        <div class="left">
            <p>information for my website</p>
        </div>
        <div class="right">
            <a href="#"><img src="" alt=""></a>
            <a href="#"><img src="" alt=""></a>
            <a href="#"><img src="" alt=""></a>
            <a href="#"><img src="" alt=""></a>
        </div>
    </div>    
</body>
</html>