{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/form.css' %}">
    <title>Вход</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <div class="imgcontainer">
            <img src="№" alt="Аватар" class="avatar">
        </div>
        
        {% for f in form %}
        <div class="container">
          <label for="{{ f.id_for_label }}"><b>{{f.label}}: </b></label>
          <input type="text" placeholder="Введите имя" name="{{ f.id_for_label }}" required>
        {% endfor %}
      
          <button type="submit">Вход</button>
          <button type="button" class="cancelbtn">Выход</button>


          <label><input type="checkbox" checked="checked" name="remember">Запомнить меня</label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <span class="psw">Забыли <a href="#">пароль?</a></span>
        </div>
    </form>
 
</body>
</html>





