{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/form.css' %}">
    <title>Вход</title>
</head>
<body>

<form method="post">
  {% csrf_token %}
    <div class="container">
        {% for f in form %}
        <label for="{{ f.id_for_label }}"><b>{{f.label}}: </b></label>
        <input type="text" placeholder="Введите имя" name="uname" required>
        {% endfor %}
        <button type="submit">Ввод</button>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Отменить</button>

        <label>
          <input type="checkbox" checked="checked" name="remember"> Запомнить меня
        </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Отменить</button>
        <span class="psw">Забыли <a href="#">пароль?</a></span>
    </div>
</form>

</body>
</html>





